@charset "UTF-8";
*,

.header-box {
  height: 80px;
}

header {
  position: fixed;
  top: 0;
  left: 0;
  width: 100%;
  background: rgba(238, 255, 0);
  z-index: 100;
  display: flex;
  justify-content: space-between;
}

.logo {
  width: 20%;
  height: 80px;
  text-align: center;
  line-height: 80px;
  font-size: 20px;
  font-weight: 600;
  background: rgb(238, 255, 0);
}

.button014 a {
  background: #584cf7;
  position: relative;
  display: flex;
  justify-content: space-around;
  align-items: center;
  margin: 0 auto;
  max-width: 240px;
  padding: 10px 25px;
  color: #d0f529;
  transition: 0.3s ease-in-out;
  font-weight: 500px;
}
.button014 a::before {
content: '';
position: absolute;
top: -1px;
width: calc(100% - 4px);
height: calc(100% - 4px);
border: 2px solid #ffe600;
transition: 0.2s;
}

.button014 a::after {
content: '';
width: 5px;
height: 5px;
border-top: 3px solid #333333;
border-right: 3px solid #333333;
transform: rotate(45deg);
}

.button014 a:hover::before {
top: 0;
left: 0;
}

.button014 a:hover {
text-decoration: none;
background-color: #b3d9ff;
}

.simple-scale {
  padding: 20px;
  background-color: #333;
}

.simple-scale:hover {
  transform: scale(1.02);
}

nav {
  width: 30%;
}

table{
  margin:auto;
  }

ul {
  width: 100%;
  display: flex;
  list-style: none;
  padding: 0;
  margin: 0;
}

li {
  width: 33%;
}

a {
  display: block;
  width: 100%;
  line-height: 80px;
  text-align: center;
}

.mobile-menu {
  display: none;
  width: 30px;
  height: 22px;
  text-align: center;
  cursor: pointer;
  position: absolute;
  top: 50%;
  right: 20px;
  transform: translateY(-50%);
}

.line {
  background-color: rgb(212, 250, 0);
  height: 4px;
  width: 100%;
  position: absolute;
  transition: all 0.3s;
}

.line:nth-of-type(1) {
  top: 0;
}

.line:nth-of-type(2) {
  top: 50%;
  transform: translateY(-50%);
}

.line:nth-of-type(3) {
  bottom: 0;
}

/* モバイル用表示切り替え */
@media (max-width: 800px) {
  .mobile-menu {
    display: block;
  }

  .pc-menu {
    display: none;
  }
}

.wrapper{
  min-height: 100vh;
  position: relative;/*←相対位置*/
  padding-bottom: 90px;/*←footerの高さ*/
  box-sizing: border-box;/*←全て含めてmin-height:100vhに*/
}


p.sample img {
  width: 1000px;  height: 800px;
}
.container { 
  height: 400px;
}

.footer {
  background-color: rgb(212, 250, 0);
  opacity: 1;
  position: fixed;
  bottom: 0vh;
  width: 100%;
}


*{

  margin: 0;

  padding: 0;

  box-sizing: border-box;

}




body{
    background: linear-gradient(45deg, #6bb6ff 0%, #2b52ff 50%, #85e3ec 100%) 0 0 / 200% 100% repeat;
    animation: colorchangeanimation-bg 5s infinite alternate;
  }
  
  @keyframes colorchangeanimation-bg {
    0% {
      background-position: 0 0;
    }
    100% {
      background-position: 100% 0;
    }
  }


.class1{
  position: relative;
  margin: 50px;
  width: 700px;
  height: 900px;
}

.class2 {
  position: absolute;
  left: 770px;
  width: 1050px;
  height: 680px;
  border: solid 6px #000000; 
  animation: slideIn 1s cubic-bezier(0.25, 1, 0.5, 1) forwards;
  }
   
  @keyframes slideIn {
    0% {
      transform: translateX(180px);
      opacity: 0;
    }
    100% {
      transform: translateX(0);
    }
    40%,100% {
      opacity: 1;
    }
  }

  .class6 {
    position: absolute;
    top: 1000px;
    left: 770px;
    width: 1050px;
    height: 680px;
    border: solid 6px #000000; 
    animation: slideIn 1s cubic-bezier(0.25, 1, 0.5, 1) forwards;
    }
     
    @keyframes slideIn {
      0% {
        transform: translateX(180px);
        opacity: 0;
      }
      100% {
        transform: translateX(0);
      }
      40%,100% {
        opacity: 1;
      }
    }

    .class7 {
      position: absolute;
      top: 2250px;
      left: 770px;
      width: 1050px;
      height: 680px;
      border: solid 6px #000000; 
      animation: slideIn 1s cubic-bezier(0.25, 1, 0.5, 1) forwards;
      }
       
      @keyframes slideIn {
        0% {
          transform: translateX(180px);
          opacity: 0;
        }
        100% {
          transform: translateX(0);
        }
        40%,100% {
          opacity: 1;
        }
      }

.class3 {
  z-index: 1;
  position: absolute;
  top: 182px;
  width: 900px;
  height: 920px;
}

.class4{
  z-index: 1;
  position: absolute;
  top: 1250px;
  width: 900px;
  height: 920px;
}

.class5{
  z-index: 1;
  position: absolute;
  top: 2450px;
  width: 900px;
  height: 920px;
}

.example{
  font-family: 'ＭＳ 明朝', serif;
}

.class100 {
  z-index: 2;
  position: relative;
  top:520% ;
  left:10% ;
  font-size: 26px
}

.class101{
  z-index: 2;
  position: relative;
  top: 1400px;
  left: 6% ;
  font-size: 26px
}

.class102{
  z-index: 2;
  position: relative;
  top: 2520px;
  left:11% ;
  font-size: 26px
}