header{
    text-align: center;
    color:rgb(251, 255, 7);
    padding: 10px;
    background: #2589d0;
    width: ;
}
.校内展示 {
    color: #272e27;
}

.校内展示文{
	color:#33352c;
}

.模擬店{
	color:#ee752f;
}

.お化け画像{
    width: 300px;
    transition: all 0.3s ease-in-out;
}
.お化け画像:hover{
    transform: scale(1.1); 
}

.仮想投資{
    width: 300px;
    transition: all 0.3s ease-in-out;
    display:flex
}
.仮想投資:hover{
    transform: scale(1.1);
}

.育英祭司会{
    width: 300px;
    transition: all 0.3s ease-in-out;
    display:flex
}
.育英祭司会:hover{
    transform: scale(1.1);
}

.中ステダンス{
    width: 500px;
    transition: all 0.3s ease-in-out;
    display:flex
}
.中ステダンス:hover{
    transform: scale(1.1); 
}

body {
    background: -moz-linear-gradient(45deg, #d1ffff 0%, #c2e0ff 29%, #efc6f2 66%, #ffe0d1 100%);
    background: -webkit-linear-gradient(45deg, #d1ffff 0%,#c2e0ff 29%,#efc6f2 66%,#ffe0d1 100%);
    background: linear-gradient(45deg, #d1ffff 0%,#c2e0ff 29%,#efc6f2 66%,#ffe0d1 100%);
    background-size: 400% 400%;
    -webkit-animation: Gradient 15s ease infinite;
	-moz-animation: Gradient 15s ease infinite;
	animation: Gradient 15s ease infinite;
	/*min-height: calc(100vh - 2rem);*/
	display: flex;
	flex-direction: column;
	align-items: stretch;
	justify-content: space-evenly;
	position: relative; 
}

body::before, 
body::after {
	content: "";
	width: 70vmax;
	height: 70vmax;
	position: absolute;
	background: rgba(255, 255, 255, 0.07);
	left: -20vmin;
	top: -20vmin;
	animation: morph 15s linear infinite alternate, spin 20s linear infinite;
	z-index: 1;
	will-change: border-radius, transform;
	transform-origin: 55% 55%;
	pointer-events: none; 
}
	
body::after {
    width: 70vmin;
    height: 70vmin;
    left: auto;
    right: -10vmin;
    top: auto;
    bottom: 0;
    animation: morph 10s linear infinite alternate, spin 26s linear infinite reverse;
    transform-origin: 20% 20%; 
}

@-webkit-keyframes Gradient {
	0% {
		background-position: 0 50%
	}
	50% {
		background-position: 100% 50%
	}
	100% {
		background-position: 0 50%
	}
}

@-moz-keyframes Gradient {
	0% {
		background-position: 0 50%
	}
	50% {
		background-position: 100% 50%
	}
	100% {
		background-position: 0 50%
	}
}

@keyframes Gradient {
	0% {
		background-position: 0 50%
	}
	50% {
		background-position: 100% 50%
	}
	100% {
		background-position: 0 50%
	}
}

@keyframes morph {
  0% {
    border-radius: 40% 60% 60% 40% / 70% 30% 70% 30%; }
  100% {
    border-radius: 40% 60%; } 
}

@keyframes spin {
  to {
    transform: rotate(1turn); 
  } 
}
	.st0{display:none;}
	.st1{display:inline;}
	.st2{opacity:0.29;}
	.st3{fill:#FFFFFF;}
	.st4{clip-path:url(#SVGID_2_);fill:#FFFFFF;}
	.st5{clip-path:url(#SVGID_4_);}
	.st6{clip-path:url(#SVGID_6_);}
	.st7{clip-path:url(#SVGID_8_);}
	.st8{clip-path:url(#SVGID_10_);}
	.st9{fill:none;}
	.st10{clip-path:url(#SVGID_12_);}
	.st11{opacity:0.7;}
	.st12{clip-path:url(#SVGID_14_);}
	.st13{opacity:0.2;}
	.st14{clip-path:url(#SVGID_16_);}
	.st15{opacity:0.3;fill:#FFFFFF;enable-background:new    ;}





  .anim-box.slidein.is-animated {
	animation-お化け屋敷ポスター: 1slideIn 21s 3cubic-bezier(0.25, 1, 0.5, 1) 4forwards;
  }
   
  @keyframes slideIn {
	0% {
	  transform: translateX(180px);
	  opacity: 0;
	}
	100% {
	  transform: translateX(0);
	}
	40%,100% {
	  opacity: 1;
	}
  }
  @keyframes fadeIn {
	from {
	  opacity: 0; /* アニメーション開始時は透明 */
	}
	to {
	  opacity: 1; /* アニメーション終了時は完全に表示 */
	}
  }
  
  /* フェードインを適用する要素のスタイル */
  .element-1 {
	animation: fadeIn 2s ease-in; /* 2秒かけてゆっくりフェードインする */
  }

  .btn-square {
	display: inline-block;
	padding: 0.5em 1em;
	text-decoration: none;
	background: #422dff;/*ボタン色*/
	color: #FFF;
	border-bottom: solid 4px #627295;
	border-radius: 3px;
	width: 6%;
  }
  .btn-square:active {
	/*ボタンを押したとき*/
	-webkit-transform: translateY(4px);
	transform: translateY(4px);/*下に動く*/
	border-bottom: none;/*線を消す*/
  }

  .container {
    display: flex;
    justify-content: space-around; /* 画像の間に均等に余白を設定 */
}
.container img {
    width: 30%; /* 画像が3つ並ぶように設定 */
    height: auto;
}


