header{
    text-align: center;
    color:darkblue
}
.お化け画像{
    width: 300px;
}
.仮想投資{
    width: 300px;
}
.育英祭司会{
    width: 300px;
}
.中ステダンス{
    width: 500px;
}
body {
    background-color:rgb(212, 214, 94)

}