title{
    animation-name: rotation;/*keyframesと紐づける*/
    animation-duration: 0.1s;/*3秒かけて動く*/
    animation-iteration-count:infinite;/*1回限り*/
    animation-delay: 0s;/*読み込んでから2秒後に実行*/
    animation-fill-mode: forwards;/*実行後キーフレームの設定を維持*/
    animation-timing-function: ease-in-out;/*徐々に加速して減速する動き方*/
}

h1 {
    background-color:orange
}

h2 {
    margin: 0;
    box-sizing: border-box;
    overflow: hidden;
  }
  
  #orange {
    height: 100vh;
    width: 100vw;
    background-color: #111;
  }
  
  @keyframes bounce {
    0%, 20%, 50%, 80%, 100% {
      transform: translateY(0); /* 初期位置 */
    }
    40% {
      transform: translateY(-30px); /* 上に跳ねる高さ（-30px） */
    }
    60% {
      transform: translateY(-15px); /* 少し低い位置に跳ねる（-15px） */
    }
  }
  
  /* バウンドアニメーションを適用する要素のスタイル */
  .ghost {
    animation: bounce 2s infinite; /* 2秒間隔で無限にバウンドする */
  }
  
  